.header {
    background: #fff;
    padding: 5px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.day-list {
    background: #fff;
    position: relative;
    z-index: 15;
    font-size: 12px;
    text-align: left;
}

.dayItem,
.today,
.dayPrev,
.dayNext,
.dayActive,
.dayRegion,
.dayDisabled,
.todayActive,
.todayRegion,
.todayDisabled,
.head-day-item,
.head-day-opacity {
    position: relative;
    cursor: pointer;
    display: inline-block;
    width: 14%;
    padding-left: 3px;
    padding-right: 3px;
    text-align: center;
    border-radius: 2px;
    box-sizing: border-box;
}

.dayItem .dayItemVal,
.today .dayItemVal,
.dayPrev .dayItemVal,
.dayNext .dayItemVal, 
.dayActive .dayItemVal, 
.dayRegion .dayItemVal, 
.dayDisabled .dayItemVal,
.todayActive .dayItemVal,
.todayRegion .dayItemVal,
.todayDisabled .dayItemVal {
    display: inline-block;
    width: 2em;
    height: 2em;
    line-height: 2em;
    vertical-align: middle;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

.dayItem .dayItemVal:hover {
    background-color: #f8f8f8;
}

.today .dayItemVal {
    color: #000;
    background-color: #f7f7f7;
}
.dayPrev, .dayNext {
    color: #a6a6a6;
}

.dayActive .dayItemVal, .todayActive .dayItemVal{
    color: #fff;
    background-color: #118bfb;
}
.dayActive .dayItemVal:hover, .todayActive .dayItemVal:hover {
    background-color: #118bfb;
}
.dayRegion .dayItemVal {
    background-color: #deedfb;
    color: #02498a;
}
.dayRegion .dayItemVal:hover {
    background-color: #deedfb;
}
.dayDisabled .dayItemVal {
    color: #cccccc;
    cursor: not-allowed;
}
.dayDisabled .dayItemVal:hover {
    background-color: #fff;
}

.centerBtn {
    text-align: center;
    font-size: 12px;
    flex: 1;
}

.iconBtn {
    width: 20px;
    height: 20px;
    border-radius: 20px;
}

/************************************* 新已确认样式 day start **************************************/
.head-day-list {
    background: #fff;
    position: relative;
    z-index: 15;
    font-size: 12px;
}

.head-day-opacity {
    color: #ffb036;
    opacity: .8;
}

.holidayWrap, .workWrap {
    position: absolute;
    top: 0;
    left: 7px;
    padding-left: 1px;
    padding-right: 1px;
    color: #fff;
    width: 12px;
    height: 12px;
    text-align: left;
    line-height: 10px;
    font-size: 7px;
    margin-top: 0;
    z-index: 10;
}

.holidayWrap:before, .workWrap:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    z-index: -999;
    border-right: 2.2em solid transparent;
}

.holidayWrap:before {
    border-top: 2.2em solid #ff6459;
}

.dayDisabled .holidayWrap:before {
    border-top: 2.2em solid rgba(255, 100, 89, 0.5);
}

.workWrap:before {
    border-top: 2.2em solid #118bfb;
}

.dayDisabled .workWrap:before {
    border-top: 2.2em solid rgba(17, 139, 251, 0.5);
}

.dayDisabled .vication-wrap {
    color: #cccccc;
}

.vication-wrap {
    font-size: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    padding: 0;
}
/************************************* 新已确认样式 day end **************************************/



/************************************* 新已确认样式 icon btn start **************************************/

.angleDoubleLeft {
    background: url("./icon/angleDoubleLeft.png") center no-repeat;
}

.angleLeft {
    background: url("./icon/angleLeft.png") center no-repeat;
}

.angleRight {
    background: url("./icon/angleRight.png") center no-repeat;
}

.angleDoubleRight {
    background: url("./icon/angleDoubleRight.png") center no-repeat;
}

.angleDown {
    background: red;
}

.angleUp {
    background: red;
}

.fa {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-size: 40px 40px;
}

.angleDoubleLeft,
.angleLeft,
.angleRight,
.angleDoubleRight {
    display: block;
    width: 20px;
    height: 20px;
    background-size: 10px 10px;
    cursor: pointer;
}

.angleDoubleLeft:hover,
.angleLeft:hover,
.angleRight:hover,
.angleDoubleRight:hover {
    border-radius: 50%;
    background-color: #f7f7f7;
}
/************************************* 新已确认样式 icon btn end **************************************/

