

.wrapper,
.wrapperLarge,
.monthWrapper,
.yearWrapperMedium,
.monthWrapperMedium,
.weekWrapperMedium,
.clockWrapperMedium,
.weekWrapper,
.clockWrapper
 {
    position: relative;
    background-color: #fff;
    font-size: 14px;
    color: #333;
    width: 100%;
}
.wrapper.notLimitSize {
    width: auto;
}

.unitWrapper,
.yearWrapperMedium,
.monthWrapper,
.monthWrapperMedium,
.weekWrapper,
.weekWrapperMedium,
.clockWrapper,
.clockWrapperMedium {
    border: 1px solid #ddd;
    border-radius: 2px;
}
.dayList:after {
    content: ' ';
    display: block;
    height: 0;
    clear: both;
}
.weekList {
    font-size: 14px;
}
.weekList:after {
    content: ' ';
    display: block;
    height: 0;
    clear: both;
}
.header {
    background: #fff;
    text-align: center;
    padding: 5px 0;
}
.headerInner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
}
.dayItem,
.twoRowCell,
.twoRowActiveCell,
.towRowCurrentCell,
.normalCell,
.weeknormalDisabledCell,
.weeknormalActiveCell,
.normalActiveCell,
.normalDisabledCell,
.normalCurrentCell  {
    position: relative;
    cursor: pointer;
    display: inline-block;
    width: 14%;
    padding: 6px 3px;
    text-align: center;
    border-radius: 2px;
    box-sizing: border-box;
}

.dayPrev .dayItemVal,
.dayDisabled .dayItemVal,
.todayDisabled .dayItemVal,
.dayRegion .dayItemVal, 
.dayNext .dayItemVal, 
.dayActive .dayItemVal, 
.todayActive .dayItemVal,
.dayItem .dayItemVal,
.today .dayItemVal {
    display: inline-block;
    width: 2em;
    height: 2em;
    line-height: 2em;
    vertical-align: middle;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}
.dayItem .dayItemVal:hover {
    background-color: #f8f8f8;
}
.weekItem,
.weekItemWeekend,
.today,
.dayPrev,
.dayNext,
.dayItemWeek,
.dayActive,
.dayRegion,
.dayDisabled,
.todayActive,
.todayActiveDisabled,
.todayDisabled,
.todayRegion,
.todayRegionDisabled {
    position: relative;
    display: inline-block;
    width: 14%;
    padding: 6px 3px;
    text-align: center;
    /* color: #118bfb; */
    box-sizing: border-box;
}
.weekItemWeekend {
    color: #ffb036;
    opacity: .8;
}
.today .dayItemVal {
    color: #000;
    background-color: #f8f8f8;
}
.dayPrev {
    color: #a6a6a6;
}
.dayNext {
    color: #a6a6a6;
}
.dayActive .dayItemVal, .todayActive .dayItemVal{
    color: #fff;
    background-color: #118bfb;
}
.dayActive .dayItemVal:hover, .todayActive .dayItemVal:hover {
    background-color: #118bfb;
}
.dayRegion .dayItemVal {
    background-color: #c1e1fe;
    color: #02498a;
}
.dayRegion .dayItemVal:hover {
    background-color: #c1e1fe;
}
.dayDisabled .dayItemVal {
    color: #cccccc;
    cursor: not-allowed;
}
.dayDisabled .dayItemVal:hover {
    background-color: #fff;
}
.dayDisabled .vicationWrap {
    color: #cccccc;
}

.todayDisabled .dayItemVal {
    background-color: #f8f8f8;
    color: #ccc;
}
.todayDisabled .vicationWrap {
    color: #ccc;
} 

.btn,
.disableLeftBtn,
.rightHandleBtn,
.monthRightHandleBtn,
.monthHandleBtn,
.handleBtn {
    display: inline-block;
    text-align: left;
    cursor: pointer;
    margin-right: .66rem;
    vertical-align: middle;
    font-size: .3rem;
}

.btn:last-child {
    margin-right: inherit;
}
.disableLeftBtn {
    display: none;
}
.centerBtn {
    text-align: center;
    font-size: 12px;
    flex: 1;
}
.centerBtn .dateSplitLine {
    display: inline-block;
    margin: 0 10px;
}

.rightHandleBtn {
    text-align: right;
}
.disableRightBtn {
    display: none;
}
.iconBtn {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}
.pannel {
    display: inline-block;
    width: 20%;
    text-align: center;
}
.normalList {
    background: #fff;
}

.normalActiveCell {
    color: #fff;
    background-color: #118bfb;
    font-size: 13px;
}
.normalActiveCell:hover {
    background-color: #118bfb;
}
.normalDisabledCell {
    color: #cccccc;
}
.normalCurrentCell {
    color: #000;
    background-color: #f8f8f8;
}
.twoRowCell,
.twoRowActiveCell,
.towRowCurrentCell {
    width: 50%;
    cursor: pointer;
}
.twoRowCell:hover {
    background-color: #f8f8f8;
}
.twoRowActiveCell {
    color: #fff;
    background-color: #118bfb;
}
.twoRowActiveCell:hover {
    background-color: #118bfb;
}
.towRowCurrentCell {
    color: #000;
    background-color: #f8f8f8;
}
.normalHeader {
    color: #000;
}
.normalHeader .normalHeaderInner {
    height: 2.8em;
    line-height: 2.8em;
    vertical-align: middle;
    text-align: center;
    border-bottom: 1px solid #ddd;
    background-color: #fbfbfb;
    color: #333;
}
.normalHeader .normalLeftBtn {
    display: inline-block;
    text-align: right;
    font-size: 14px;
    cursor: pointer;
}
.normalHeader .normalRightBtn {
    display: inline-block;
    text-align: left;
    font-size: 14px;
    cursor: pointer;
}
.normalHeader .normalCenter {
    display: inline-block;
    margin: 0 2em;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
}
.normalHeader .normalSplitLine {
    display: inline-block;
    margin: 0 10px;
}
.currentYearBtn {
    width: 100%;
    text-align: center;
    cursor: pointer;
    padding: 5px 0;
    background: #fff;
}
.currentYearBtn:hover {
    background-color: #f8f8f8;
}

.clockWrapper {
    position: relative;
}
.groupCell {
    display: inline-block;
    width: 33.3%;
    padding: 3px;
    text-align: center;
    border-radius: 3px;
}
.groupCellSplit {
    display: inline-block;
    width: 33.3%;
}
.groupCellSplit:after {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -0.13755158em;
    margin-top: -1em;
    content: ':';
    text-align: center;
    font-size: 2em;
    line-height: 2em;
    font-family: sans-serif;
}
.clockInput {
    padding: 3px;
    width: 2em;
    height: 1.6em;
    text-align: center;
    font-size: 1.5em;
    border: none;
}
.clockWrapperMedium .clockInput {
    width: 2.5em;
    height: 2.5em;
}
.footer {
    text-align: center;
}
.footer .unitWrapper {
    width: 100%;
    border: none;
}
.footer .unitWrapper .normalList {
    width: 60%;
    min-width: 6em;
    padding: 4px 0;
    margin: 0 auto;
}
.vicationWrap {
    width: 110%;
    transform: scale(0.7);
    white-space: nowrap;
    margin-bottom: 0;
    margin-top: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0!important;
}
.specialDayWrap,
.workWrap,
.holidayWrap {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 2px !important;
    transform: scale(0.6);
    color: #fff;
}

.specialDayWrap:before {
    content: " ";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0;
    height: 0;
    border-top: 2.5em solid #118bfb;
    border-right: 2.5em solid transparent;
    z-index: -999;
}
.holidayWrap:before, .workWrap:before {
    content: " ";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0;
    height: 0;
    border-right: 2.5em solid transparent;
    z-index: -999;
    border-right: 2.5em solid transparent;
}
.holidayWrap:before {
    border-top: 2.5em solid #ff6459;
}

.workWrap:before {
    border-top: 2.5em solid #118bfb;
}

.dayDisabled .holidayWrap:before {
    border-top: 2.5em solid rgba(255, 100, 89, 0.5);
}

.dayDisabled .workWrap:before {
    border-top: 2.5em solid rgba(17, 139, 251, 0.5);
}

.handleBtn {
    font-size: 20px;
    top: 0.02rem;
    position: relative;
}
.rightHandleBtn {
    font-size: 20px;
    top: 0.02rem;
    position: relative;
}
.monthHandleBtn {
    float: left;
}
.monthRightHandleBtn {
    float: right;
}

.holidayItemWrap {
    display: inline-block;
    text-align: center;
    min-width: 25%;
}
.cellDate {
    font-size: 10px;
}
.textName {
    font-size: 12px;
    line-height: 30px;
}
.commonHandle {
    text-align: center;
    padding: 15px 0 10px;
}
.commonHandleokBtn {
    width: 105px;
    height: 40px;
    margin-left: 5px;
    margin-right: 0;
    color: #fff;
    background-color: #118bfb;
    border: none;
}
.commonHandlecancelBtn {
    width: 105px;
    height: 40px;
    color: #666;
    background-color: #e5e5e5;
    border: none;
}

.header,.weekList, .dayList, .commonHandle {
    background: #fff;
    position: relative;
    z-index: 15;
    font-size: 12px;
}


/**节假日选择**/
.holidaynormalListInner{
    text-align: left;
}
/****/




/**********************************  week  ********************************/
.weeknormalList {
    margin: 15px 8px;
}
.weeknormalList .normalListInner {
    margin-bottom: -10px;
}
.weeknormalListInner {
    height: 330px;
    overflow: scroll;
    text-align: left;
}

.weeknormalListInner .normalCell{
    font-size: 12px; 
}

.weekdateRande {
    margin: 4px 0 0 0;
    width: 100%;
    transform: scale(0.8);
    white-space: nowrap;
}
.weeknormalCell {
    position: relative;
    display: inline-block;
    width: 14.2857%;
    padding: 6px 3px;
    border-radius: 2px;
    width: 25%;
    margin-bottom: 10px;
    padding: 8px 0;
    text-align: center;
    line-height: 1em;
    cursor: pointer;
}
.weeknormalCell:hover {
    background-color: #f6f6f6;
}
.weeknormalDisabledCell {
    color: #c4c4c4;
}
.weeknormalActiveCell {
    color: #fff;
    background-color: #3dd5b0;
}
.weeknormalActiveCell:hover {
    background-color: #3dd5b0;
}
.normalCell,
.weeknormalDisabledCell,
.weeknormalActiveCell,
.normalActiveCell,
.normalDisabledCell,
.normalCurrentCell {
    width: 25%;
    padding: 5px 0;
    text-align: center;
    line-height: 1em;
    cursor: pointer;
}
/***************************************************************************/


