
/************************************* head icon btn start **************************************/
.header {
    background: #fff;
    padding: 5px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.center-btn {
    text-align: center;
    font-size: 12px;
    flex: 1;
}

.icon-btn {
    width: 20px;
    height: 20px;
    border-radius: 20px;
}

.double-left-btn {
    background: url("./icon/angleDoubleLeft.png") center no-repeat;
}

.left-btn {
    background: url("./icon/angleLeft.png") center no-repeat;
}

.right-btn {
    background: url("./icon/angleRight.png") center no-repeat;
}

.double-right-btn {
    background: url("./icon/angleDoubleRight.png") center no-repeat;
}

.double-left-btn,
.left-btn,
.right-btn,
.double-right-btn {
    display: block;
    width: 20px;
    height: 20px;
    background-size: 10px 10px;
    cursor: pointer;
}

.double-left-btn:hover,
.left-btn:hover,
.right-btn:hover,
.double-right-btn:hover {
    border-radius: 50%;
    background-color: #f7f7f7;
}
/************************************* head icon btn end **************************************/



